{% extends "base.html" %}

{% load extras %}
{% block content %}

<div class="row">
	<div class="col big">
		<h1>Mercurial source control management</h1>
		<p><strong>Mercurial is a free, distributed source control management tool. It offers you the power to efficiently handle projects of any size while using an intuitive interface. It is easy to use and hard to break, making it ideal for anyone working with versioned files. 
		</strong></p>

		<h2>Distributed architecture</h2>

		<p>Traditional version control systems such as Subversion are typical client-server architectures with a central server to store the revisions of a project. In contrast, Mercurial is truly distributed, giving each developer a local copy of the entire development history. This way it works independent of network access or a central server. Committing, branching and merging are fast and cheap.</p>

		<h2>Fast</h2>

		<p>Mercurials implementation and data structures are designed to be fast. You can generate diffs between revisions, or jump back in time within seconds. Therefore Mercurial is perfectly suiteable for large projects such as OpenJDK or NetBeans.</p>

		<h2>Platform independent</h2>

		<p>Mercurial was written with platform independence in mind. Therefore most of Mercurial is written in Python, with a small part in portable C for performance reasons. As a result, binary releases are available on all major platforms.</p>

		<h2>Extensible</h2>

		<p>The functionality of Mercurial can be increased with extensions, either by activating the official ones which are shipped with Mercurial or downloading some (<a href="http://www.selenic.com/mercurial/wiki/index.cgi/UsingExtensions">from the wiki</a> or by <a href="http://www.selenic.com/mercurial/wiki/index.cgi/WritingExtensions">writing your own</a>). Extensions are written in Python and can change the workings of the basic commands, add new commands and access all the core functions of Mercurial.</p>

		<h2>Open Source</h2>

		<p>Mercurial is free software licensed under the terms of the <a href="http://www.gnu.org/licenses/gpl-2.0.txt">GNU General Public License Version 2</a>.</p>

		<h3>Similar projects</h3>

		<p>Mercurial is used for version control of files. Similar projects include <a href="http://git-scm.org">Git</a> and <a href="http://bazaar-vcs.org">Bazaar</a>, and other version control systems without a distributed architecture include <a href="http://subversion.tigris.org/">Subversion</a> and <a href="http://www.nongnu.org/cvs/">CVS</a>.
		</div>
		<div class="col">
                {% download_button %}
	            {% mercurial_tricks %}
		</div>
	</div>

</div>

{% endblock %}
