<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{{ MEDIA_URL }}css/styles.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="{{ MEDIA_URL }}javascript/typeface.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}javascript/optimer_regular.typeface.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}images/favicon.ico">

		<title>Mercurial SCM</title>
	</head>
	<body id="home">
		<h1 id="logo"><a href="/">mercurial</a></h1>
			
		<ul id="nav" class="typeface-js">
			<li><a href="{% url about %}">about</a></li>
			<li><a href="{% url workflow_guide %}">guide</a></li>
			<li><a href="{% url downloads %}">download</a></li>
			<li><a href="http://www.selenic.com/mercurial/wiki/UsingExtensions">extensions</a></li>
			<li><a href="http://www.selenic.com/mercurial">docs/news</a></li>
		</ul>
		<!-- original Search form: 
		<form id="search" method="post" action="search/">
			<fieldset>
				<legend>Search form</legend>
				<label for="keyword">keyword</label>
				<input class="text" type="text" name="keyword" id="keyword">
				<input class="submit" type="submit" value="search">
			</fieldset>
		</form>
		-->
		<!-- Search form for the wiki -->
		<form id="search" method="get" action="http://mercurial.selenic.com/wiki/Mercurial">
		<input type="hidden" name="action" value="fullsearch">
		<input type="hidden" name="context" value="180">
			<fieldset>
				<legend>Search form</legend>
				<label for="keyword">keyword</label>
				<input class="text" type="text" name="value"
				value="Search the Wiki" id="keyword">
				<input class="submit" type="submit" value="Title"
				name="titlesearch" alt="Search Titles"> 
			</fieldset>
		</form>
		
		<div id="content">

			{% block content %}
			
				No content on this page yet.
			
			{% endblock %}

		</div>
		
		<div id="footer">
			design by <a href="http://www.designpunct.ro">punct</a> /
			design courtesy of <a href="http://www.bitbucket.org/">bitbucket</a> /
			licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.txt">GPLv2</a> /
			<a href="{% url thepage %}">about this page</a>
		</div>
		
	</body>
</html>
