{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="big col">
    <h1>Mercurial downloads</h1>
    {% for d in downloads %}
    {% ifequal d.latest "true" %}
    <table border="0" cellspacing="0" cellpadding="0" class="latest" width="100%">
    {% else %}
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
    {% endifequal %}
        <thead>
            <tr>
                <th>Mercurial {{ d.version }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for v in d.versions %}
            <tr>
                <td>{{ v.system }}</td>
                <td>{{ v.language }}</td>
                <td><a href="download/{{d.version}}/{{v.identifier}}">download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    </div>
<div class="col">
    <h3>Get started</h3>
    <p>Mercurial is written in python with platform independence in mind.
    As a result, Mercurial is available on
    <a href="http://www.microsoft.com/windows">Microsoft Windows</a>,
    <a href="http://kernel.org">GNU/Linux</a>,
    <a href="http://www.apple.com">MacOS X</a>,
    <a href="http://www.opensolaris.org">OpenSolaris</a> and others.
    You can either download a binary package for the system of your choice or
    build if from sources.</p>

    <p>Packages for common Linux, BSD and Solaris distributions can be
    installed from the system specific repositories</p>
    <p>
<pre>
# Debian/ubuntu
$ apt-get install mercurial

# Fedora
$ yum install mercurial

# Gentoo
$ emerge mercurial

# OpenSolaris
$ pkg install SUNWmercurial
    </p>
</div>
</div>

{% endblock %}
