{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col big">
		<h1>Work easier <br> Work faster</h1>
		<h2>Benefit now from one of the easiest and fastest Source Control Management systems. Mercurial makes working with documents easier.</h2>
	</div>
	<div class="col">					
		<a class="download typeface-js" href="javascript:void(0);">
			<strong>Download now</strong>
			Mercurial <em>2.42</em>
			<span>Windows XP | Vista | 7</span>
		</a>
		<dl>
			<dt class="typeface-js">Requiurements</dt>
			<dd>Python 2.5 (<a href="http://www.python.org">get python</a>)</dd>
			
			<dt>Another OS?<br><em>Get mercurial for:</em></dt>
			<dd><a href="javascript:void(0);">Mac OS X</a></dd>
			<dd><a href="javascript:void(0);">Linux</a></dd>						
		</dl>				
	</div>
</div>

<div class="row">
	<div class="col big">
		<h3>How can you benefit from Mercurial?</h3>
		<ol>
			<li class="i-1">
				<h4><a href="javascript:void(0);">Download and install</a></h4>
				<p>Donec ut pede ac lorem iaculis aliquam. Curabitur feugiat, libero scelerisque laoreet malesuada, purus lorem fermentum quam, eget rhoncus quam sapien ac nulla. Praesent id turpis.</p>
			</li>
			<li class="i-2">
				<h4><a href="javascript:void(0);">Follow our simple Guide to learn how you can Revision your documents with Mercurial</a></h4>
				<p>Suspendisse pulvinar dolor nec massa. Mauris sit amet orci porta velit congue fringilla. Pellentesque ipsum libero, scelerisque luctus</p>
			</li>
			<li class="i-3">
				<h4><a href="javascript:void(0);">Get involved.</a></h4>
				<p>Create extensions, translate the documentation, test beta versions.</p>
			</li>
		</ol>
	</div>
	<div class="col">
		<h3>Take a look at Mercurial</h3>
		<!-- Flash Player should probably come here-->
		<img src="{{ MEDIA_URL }}images/tour.jpg" alt="">
	</div>
</div>

{% endblock %}