{% extends "base.html" %}

{% load extras %}
{% block content %}

<div class="row">
	<div class="col big">
<h1>Learn Mercurial</h1>
<p><em>Some links to resources for learning Mercurial</em></p>
<ul>
<li>
<p><a href="{% url quick_start %}">Quick_Start</a><br />
  Get started using Mercurial and understanding its basic concepts.</p>
</li>
<li>
<p><a href="http://mercurial.selenic.com/wiki/QuickStart">Quick_Start from the wiki</a><br />
  Learn the basic Mercurial commands. A bit more verbose than the short quick start above. </p>
</li>
<!--(* TortoiseHG basics (For the Mercurial GUI) - when acessed from a windows box)-->

<li>
<p><a href="{% url workflow_guide %}">workflow_guide</a><br />
  Learn using Mercurial step by step in workflows. This guide skips the conceptual explanations to focus only on the practical usage. </p>
</li>
<li>
<p><a href="http://hgbook.red-bean.com/">hgbook</a><br />
  The free book from Brian o Sullivan gives a detailed and easy to read introduction to Mercurial and the philosophy behind it. </p>
</li>

<li><p><em>Further resources<br />A wiki-page with links. If you wrote some guide yourself, maybe for your team or for friends of yours, please add it! (it might be useful to have such a page in the wiki!)</em></p></li>
</ul>	
</div>
	<div class="col">					
        {% download_button %}
        {% mercurial_tricks %}
	</div>
</div>

{% endblock %}
