{% extends "base.html" %}

{% load extras %}
{% block content %}

<div class="row">
	<div class="col big">


<h1>Learning Mercurial in Workflows</h1>

<p>With Mercurial you can use a multitude of different workflows. This page shows some of them, including their use cases. It is intended to make it easy for beginners of version tracking to get going instantly and learn completely incrementally. It doesn't explain the concepts used, because there are already many other great resources doing that, for example <a title="Understanding Mercurial" href="http://www.selenic.com/mercurial/wiki/UnderstandingMercurial">the wiki</a> and <a title="Behind the Scenes" href="http://hgbook.red-bean.com/read/behind-the-scenes.html">the hgbook</a>.</p>

<p>If you want a more exhaustive tutorial with the basics, please have a look at the <a title="Mercurial Tutorial" href="http://www.selenic.com/mercurial/wiki/Tutorial">Tutorial in the Mercurial Wiki</a>. For a really detailed and very nice to read description of Mercurial, please have a look at <a title="Mercurial: The definitive Guide" href="http://hgbook.red-bean.com/">Mercurial: The definitive Guide</a>.</p>

<p>Note: This guide doesn't require any prior knowledge of version control systems (though subversion users will likely feel at home quite quickly). Basic commandline abilities are helpful, because we'll use the commandline client. <!--If you already know other systems, please check our transition guides: svn, cvs, git, bzr --></p>

<h1>Basic workflows</h1>

<h2>Log keeping</h2>

<h3>Use Case</h3>

<p>The first workflow is also the easiest one: You want to use Mercurial to be able to look back when you did which changes.</p>

<p>This workflow only requires an installed Mercurial and write access to some file storage (you almost definitely have that :) ). It shows the basic techniques for more complex workflows.</p>

<h3>Workflow</h3>

<h5>Prepare Mercurial</h5>

<p>As first step, you should teach Mercurial your name. For that you open the file ~/.hgrc with a text-editor and add the ui section (user interaction) with your username:</p>

<pre>[ui]
username = Mr. Johnson <johnson@smith.com>

</pre>

<h5>Initialize the project</h5>

<pre>$ hg init project

</pre>

<h5>Add files and track them</h5>

<pre>$ cd project
$ (add files)
$ hg add 

</pre>

<p>Note: You can also go into an existing directory with files and init the repository there. </p>

<pre>$ cd project
$ hg init

</pre>

<p>Alternatively you can add only specific files instead of all files in the directory. Mercurial will then track only these files and won't know about the others. The following tells mercurial to track all files whose names begin with "file0" as well as file10, file11 and file12.</p>

<pre>$ hg add file0* file10 file11 file12

</pre>

<h5>Save changes</h5>

<pre>$ (do some changes)

</pre>

<p>see which files changed, which have been added or removed, and which aren't tracked yet</p>

<pre>$ hg status

</pre>

<p>see the exact changes</p>

<pre>$ hg diff

</pre>

<p><hg>commit</hg> the changes.</p>

<pre>$ hg commit

</pre>

<p>now an editor pops up and asks you for a commit message. Upon saving and closing the editor, your changes have been stored by Mercurial.</p>

<p>Note: You can also supply the commit message directly via <hg>hg commit -m 'MESSAGE'</hg>.</p>

<h5>Move and copy files</h5>

<p>When you copy or move files, you should tell Mercurial to do the copy or move for you, so it can track the relationship between the files.</p>

<p>Remember to <hg>commit</hg> after moving or copying. From the basic commands only <hg>commit</hg> creates a new revision</p>

<pre>$ hg cp original copy
$ hg commit
(enter the commit message)
$ hg mv original target
$ hg commit
(enter the commit message)

</pre>

<p>Now you have two files, "copy" and "target", and Mercurial knows how they are related.</p>

<p>Note: Should you forget to do the explicit copy or move, you can still tell Mercurial to detect the changes via <hg>hg addremove --similarity 100</hg>. Just use <hg>hg help addremove</hg> for details.</p>

<h5>Check your history</h5>

<pre>$ hg log

</pre>

<p>This prints a list of changesets along with their date, the user who committed them (you) and their commit message. </p>

<p>To see a certain revision, you can use the <hg>-r</hg> switch (--revision). To also see the diff of the displayed revisions, there's the <hg>-p</hg> switch (--patch)</p>

<pre>$ hg log -p -r 3

</pre>

<h2>Lone developer with nonlinear history</h2>

<h3>Use case</h3> 

<p>The second workflow is still very easy: You're a lone developer and you want to use Mercurial to keep track of your own changes.</p>

<p>It works just like the log keeping workflow, with the difference that you go back to earlied changes at times.</p>

<p>To start a new project, you initialize a repository, add your files and commit whenever you finished a part of your work.</p>

<p>Also you check your history from time to time, so see how you progressed.</p>

<h3>Workflow</h3>

<h5>Basics from log keeping</h5>

<p>Init your project, add files, see changes and commit them.</p>

<pre>$ hg init project
$ cd project
$ (add files)
$ hg add # tell Mercurial to track all files
$ (do some changes)
$ hg diff # see changes
$ hg commit # save changes
$ hg cp # copy files or folders
$ hg mv # move files or folders
$ hg log # see history

</pre>

<h5>Seeing an earlier revision</h5>

<p>Different from the log keeping workflow, you'll want to go back in history at times and do some changes directly there, for example because an earlier change introduced a bug and you want to fix it where it occurred.</p>

<p>To look at a previous version of your code, you can use update. Let's assume that you want to see revision 3.</p>

<pre>$ hg update 3

</pre>

<p>Now your code is back at revision 3, the fourth commit (Mercurial starts counting at 0). 
To check if you're really at that revision, you can use <hg>identify -n</hg>.</p>

<pre>$ hg identify -n

</pre>

<p>Note: <hg>identify</hg> without options gives you the short form of a unique revision ID. That ID is what Mercurial uses internally. If you tell someone about the version you updated to, you should use that ID, since the numbers can be different for other people. If you want to know the reasons behind that, please read up Mercurials [basic concepts](). When you're at the most recent revision, <hg>hg identify -n</hg> will return "-1".</p>

<p>To update to the most recent revision, you can use "tip" as revision name.</p>

<pre>$ hg update tip

</pre>

<p>Note: If at any place any command complains, your best bet is to read what it tells you and follow that advice.</p>

<p>Note: Instead of <hg>hg update</hg> you can also use the shorthand <hg>hg up</hg>. Similarly you can abbreviate <hg>hg commit</hg> to <hg>hg ci</hg>.</p>

<p>Note: To get a revision devoid of files, just <hg>update</hg> to "null" via <hg>hg update null</hg>. That's the revision before any files were added.</p>

<h5>Fixing errors in earlier revisions</h5>

<p>When you find a bug in some earlier revision you have two options: either you can fix it in the current code, or you can go back in history and fix the code exactly where you did it, which creates a cleaner history.</p>

<p>To do it the cleaner way, you first update to the old revision, fix the bug and commit it. Afterwards you merge this revision and commit the merge. Don't worry, though: Merging in mercurial is fast and painless, as you'll see in an instant.</p>

<p>Let's assume the bug was introduced in revision 3.</p>

<pre>$ hg update 3
$ (fix the bug)
$ hg commit

</pre>

<p>Now the fix is already stored in history. We just need to merge it with the current version of your code.</p>

<pre>$ hg merge

</pre>

<p>If there are conflicts use <hg>hg resolve</hg> - that's also what merge tells you to do in case of conflicts.</p>

<p>First list the files with conflicts</p>

<pre>$ hg resolve --list

</pre>

<p>Then resolve them one by one. <hg>resolve</hg> attempts the merge again</p>

<pre>$ hg resolve conflicting_file
(fix it by hand, if necessary)

</pre>

<p>Mark the fixed file as resolved</p>

<pre>$ hg resolve --mark conflicting_file

</pre>

<p>Commit the merge, as soon as you resolved all conflicts. This step is also necessary when there were no conflicts!</p>

<pre>$ hg commit

</pre>

<p>At this point, your fix is merged with all your other work, and you can just go on coding. Additionally the history shows clearly where you fixed the bug, so you'll always be able to check where the bug was.</p>

<p>Note: Most merges will just work. You only need <hg>resolve</hg>, when <hg>merge</hg> complains.</p>

<p>So now you can initialize repositories, save changes, update to previous changes and develop in a nonlinear history by committing in earlier changesets and merging the changes into the current code.</p>

<p>Note: If you fix a bug in an earlier revision, and some later revision copied or moved that file, the fix will be propagated to the target file(s) when you merge. This is the main reason why you should always use <hg>hg cp</hg> and <hg>hg mv</hg>.</p>

<h2>Seperate features</h2>

<h3>Use Case</h3>

<p>At times you'll be working on several features in parallel. If you want to avoid mixing incomplete code versions, you can create clones of your local repository and work on each feature in its own code directory.</p>

<p>After finishing your feature you then <hg>pull</hg> it back into your main directory and <hg>merge</hg> the changes.</p>

<h3>Workflow</h3>

<h5>Work in different clones</h5>

<p>First create the feature clone and do some changes</p>

<pre>$ hg clone project feature1
$ cd feature1
$ (do some changes and commits)

</pre>

<p>Now check what will come in when you <hg>pull</hg> from feature1, just like you can use <hg>diff</hg> before committing. The respective command for pulling is <hg>incoming</hg></p>

<pre>$ cd ../project
$ hg incoming ../feature1

</pre>

<p>Note: If you want to see the diffs, you can use <hg>hg incoming --patch</hg> just as you can do with <hg>hg log --patch</hg> for the changes in the repository.</p>

<p>If you like the changes, you pull them into the project</p>

<pre>$ hg pull ../feature1

</pre>

<p>Now you have the history of feature1 inside your project, but the changes aren't yet visible. Instead they are only stored inside a ".hg" directory of the project (<a title="Behind the Scenes" href="http://hgbook.red-bean.com/read/behind-the-scenes.html">more information on the store</a>).</p>

<p>Note: From now on we'll use the name "repository" for a directory which has a .hg directory with Mercurial history.</p>

<p>If you didn't do any changes in the project, while you were working on feature1, you can just update to tip (<hg>hg update tip</hg>), but it is more likely that you'll have done some other changes in between changes. In that case, it's time for merging.</p>

<p>Merge feature1 into the project code</p>

<pre>$ hg merge

</pre>

<p>If there are conflicts use <hg>hg resolve</hg> - that's also what merge tells you to do in case of conflicts. After you <hg>merge</hg>, you have to <hg>commit</hg> explicitely to make your <hg>merge</hg> final</p>

<pre>$ hg commit
(enter commit message, for example "merged feature1")

</pre>

<p>You can create an arbitrary number of clones and also carry them around on USB sticks. Also you can use them to synchronize your files at home and at work, or between your desktop and your laptop.</p>

<p>Note: You also have to commit after a merge when there are no conflicts, because merging creates new history and you might want to attach a specific message to the merge (like "merge feature1").</p>

<h5>Rollback mistakes</h5>

<p>Now you can work on different features in parallel, but from time to time a bad commit might sneak in. Naturally you could then just go back one revision and merge the stray error, keeping all mistakes out of the merged revision. However, there's an easier way, if you realize your error before you do another <hg>commit</hg> or <hg>pull</hg>: <hg>rollback</hg>.</p>

<p>Rolling back means undoing the last operation which added something to your history.</p>

<p>Imagine you just realized that you did a bad commit - for example you didn't see a spelling error in a label. To fix it you would use</p>

<pre>hg rollback

</pre>

<p>And then redo the commit</p>

<pre>hg commit -m "message"

</pre>

<p>If you can use the command history of your shell and you added the previous message via <hg>commit -m "message"</hg>, that following commit just means two clicks on the arrow-key "up" and one click on "enter".</p>

<p>Though it changes your history, rolling back doesn't change your files. It only undoes the last addition to your history.</p>

<p>But beware, that a rollback itself can't be undone. If you <hg>rollback</hg> and then forget to commit, you can't just say "give me my old commit back". You have to create a new commit.</p>

<p>Note: Rollback is possible, because Mercurial uses transactions when recording changes, and you can use the transaction record to undo the last transaction. This means that you can also use <hg>rollback</hg> to undo your last <hg>pull</hg>, if you didn't yet commit aything new.</p>

<h2>Sharing changes</h2>

<h3>Use Case</h3>

<p>Now we go one step further: You are no longer alone, and you want to share your changes with others and include their changes.</p>

<p>The basic requirement for that is that you have to be able to see the changes of others.</p>

<p>Mercurial allows you to do that very easily by including a simple webserver from which you can <hg>pull</hg> changes just as you can pull changes from local clones.</p>

<p>Note: There are a few other ways to share changes, though. Instead of using the builtin webserver, you can also send the changes by email or setup a shared repository, to where you <hg>push</hg> changes instead of pulling them. We'll cover one of those later.</p>

<h3>Workflow</h3>

<h5>Using the builtin webserver</h5>

<p>This is the easiest way to quickly share changes.</p>

<p>First the one who wants to share his changes creates the webserver</p>

<pre>$ hg serve

</pre>

<p>Now all others can point their browsers to his IP address (for example 192.168.178.100) at port 8000. They will then see all his history there and can sdecide if they want to pull his changes.</p>

<pre>$ firefox http://192.168.178.100:8000

</pre>

<p>If they decide to include the changes, they just pull from the same URL</p>

<pre>$ hg pull http://192.168.178.100:8000

</pre>

<p>At this point you all can work as if you had pulled from a local repository. All the data is now in your individual repositories and you can merge the changes and work with them without needing any connection to the served repository.</p>

<h5>Sending changes by email</h5>

<p>Often you won't have direct access to the repository of someone else, be it because he's behind a restrictive firewall, or because you live in different timezones. You might also want to keep your changes confidential and prefer internal email (if you want additional protection, you can also encrypt the emails, for example with <a href="http://gnupg.org" title="GnuPG">GnuPG</a>).</p>

<p>In that case, you can easily export your changes as patches and send them by email.</p>

<p>Another reason to send them by email can be that your policy requires manual review of the changes when the other developers are used to reading diffs in emails. I'm sure you can think of more reasons.</p>

<p>Sending the changes via email is pretty straightforward with Mercurial. You just <hg>export</hg> your changes and attach (or copy paste) it in your email. Your collegues can then just <hg>import</hg> them.</p>

<p>First check which changes you want to export</p>

<pre>$ cd project 
$ hg log

</pre>

<p>We assume that you want to export changeset 3 and 4</p>

<pre>$ hg export 3 > change3.diff
$ hg export 4 > change4.diff

</pre>

<p>Now attach them to an email and your collegues can just run <hg>import</hg> on both diffs to get your full changes, including your user information.</p>

<p>To be careful, they first <hg>clone</hg> their repository to have an integration directory as sandbox</p>

<pre>$ hg clone project integration
$ cd integration
$ hg import change3.diff
$ hg import change4.diff

</pre>

<p>That's it. They can now test your changes in feature clones. If they accept them, they <hg>pull</hg> the changes into the main repository</p>

<pre>$ cd ../project
$ hg pull ../integration

</pre>

<p>Note: The <em>patchbomb</em> extension automates the email-sending, but you don't need it for this workflow.</p>

<p>Note 2: You can also send around bundles, which are snippets of your actual history. Just create them via </p>

<pre>$ hg bundle --base FIRST_REVISION_TO_BUNDLE changes.bundle

</pre>

<p>Others can then get your changes by simply pulling them, as if your bundle were an actual repository</p>
<pre>$ hg pull path/to/changes.bundle

</pre>

<h5>Using a shared repository</h5>

<p>Sending changes by email might be the easiest way to reach people when you aren't yet part of the regular development team, but it creates additional workload: You have to <hg>bundle</hg> the changes, send mails and then <hg>import</hg> the bundles manually. Luckily there's an easier way which works quite well: The shared push repository.</p>

<p>Till now we transferred all changes either via email or via <hg>pull</hg>. Now we use another otion: pushing. As the name suggests it's just the opposite of pulling: You <hg>push</hg> your changes into another repository.</p>

<p>But to make use of it, we first need something we can push to.</p>

<p>By default <hg>hg serve</hg> doesn't allow pushing, since that would be a major security hole. You can allow pushing in the server, but that's no solution when you live in different timezones, so we'll go with another approach here: Using a shared repository, either on an existing shared server or on a service like <a title="BitBucket" href="http://bitbucket.org">BitBucket</a>. Doing so has a bit higher starting cost and takes a bit longer to explain, but it's well worth the effort spent.</p>

<p>If you want to use an existing shared server, you can use <hg>serve</hg> there and <a title="How to allow pushing for hg serve" href="http://www.selenic.com/mercurial/wiki/HgWebDirStepByStep#head-746ca383e3a62df34279ec2fca888113497da022">allow pushing</a>. Also there are some other nice ways to <a title="Multiple Committers" href="http://www.selenic.com/mercurial/wiki/MultipleCommitters">allow pushing to a Mercurial repository</a>, including simple <a title="Setting up a shared Mercurial repository using SSH" href="http://www.selenic.com/mercurial/wiki/SharedSSH">access via SSH</a>.</p>

<p>Otherwise you first need to setup a BitBucket Account. Just signup at <a title="BitBucket" href="http://bitbucket.org">BitBucket</a>. After signing up (and login) hover your mouse over "Repositories". There click the item at the bottom of the opening dialog which say "Create new".</p>

<p>Give it a name and a description. If you want to keep it hidden from the public, select "private"</p>

<pre>$ firefox http://bitbucket.org

</pre>

<p>Now your repository is created and you see instructions for <hg>push</hg>ing to it. for that you'll use a command similar to the following (just with a different URL)</p>

<pre>$ hg push https://bitbucket.org/ArneBab/hello/

</pre>

<p>(Replace the URL with the URL of your created repository. If your username is "Foo" and your repository is named "bar", the URL will be https://bitbucket.org/Foo/bar/)</p>

<p>Mercurial will ask for your BitBucket name and password, then <hg>push</hg> your code.</p>

<p>Voilà, your code is online.</p>

<p>Note: You can also <a title="use SSH for pushing to BitBucket" href="http://bitbucket.org/help/UsingSSH">use SSH for pushing to BitBucket</a>.</p>

<p>Now it's time to tell all your collegues to sign up at BitBucket, too.</p>

<p>After that you can click the "Admin" tab of your created repository and add the usernames of your collegues on the right side under "Permission: Writers". Now they are allowed to <hg>push</hg> code to the repository.</p>

<p>(If you chose to make the repository private, you'll need to add them to "Permission: Readers", too)</p>

<p>If one of you now wants to publish changes, he'll simply <hg>push</hg> them to the repository, and all others get them by <hg>pull</hg>ing.</p>

<p>Publish your changes</p>

<pre>$ hg push https://bitbucket.org/ArneBab/hello/

</pre>

<p>Pull others changes into your local repository</p>

<pre>$ hg pull https://bitbucket.org/ArneBab/hello/

</pre>

<p>People who join you in development can also just <hg>clone</hg> this repository, as if one of you were using <hg>hg serve</hg></p>

<pre>$ hg clone https://bitbucket.org/ArneBab/hello/ hello

</pre>

<p>That local repository will automatically be configured to pull/push from/to the online repository, so new contributors can just use <hg>hg push</hg> and <hg>hg pull</hg> without an URL.</p>

<p>Note: To make this workflow more scaleable, each one of you can have his own BitBucket repository and you can simply <hg>pull</hg> from the others repositories. That way you can easily establish workflows in which certain people act as integrators and finally <hg>push</hg> checked code to a shared pull repository from which all others pull.</p>

<p>Note: You can also use this workflow with a shared server instead of BitBucket, either via SSH or via a shared directory. An example for an SSH URL with Mercurial is be ssh://user@example.com/path/to/repo. When using a shared directory you just push as if the repository in the shared directory were on your local drive.</p>

<h2>Summary</h2>

<p>Now let's take a step back and look where we are.</p>

<p>With the commands you already know, a bit reading of <hg>hg help &lt;command&gt;</hg> and some evil script-fu you can already do almost everything you'll ever need to do when working with source code history. So from now on almost everything is convenience, and that's a good thing.</p>

<p>First this is good, because it means, that you can now use most of the concepts which are utilized in more complex workflows.</p>

<p>Second it aids you, because convenience lets you focus on your task instead of focussing on your tool. It helps you concentrate on the coding itself. Still you can always go back to the basics, if you want to.</p>

<p>A short summary of what you can do which can also act as a short check, if you still remember the meaning of the commands.</p> 

<h3>create a project</h3>

<pre>$ hg init project
$ cd project
$ (add some files)
$ hg add
$ hg commit 
(enter the commit message)

</pre>

<h3>do nonlinear development</h3>

<pre>$ (do some changes)
$ hg commit 
(enter the commit message)
$ hg update 0
$ (do some changes)
$ hg commit 
(enter the commit message)
$ hg merge
$ (optionally hg resolve)
$ hg commit
(enter the commit message)

</pre>

<h3>use feature clones</h3>

<pre>$ cd ..
$ hg clone project feature1
$ cd feature1
$ (do some changes)
$ hg commit 
(enter the commit message)
$ cd ../project
$ hg pull ../feature1

</pre>

<h3>share your repository via the integrated webserver</h3>

<pre>$ hg serve &amp;
$ cd ..
$ hg clone http://127.0.0.1:8000 project-clone

</pre>

<h3>export changes to files</h3>

<pre>$ cd project-clone
$ (do some changes)
$ hg commit 
(enter the commit message)
$ hg export tip > ../changes.diff

</pre>

<h3>import changes from files</h3>

<pre>$ cd ../project
$ hg import ../changes.diff

</pre>

<h3>pull changes from a served repository (hg serve still runs on project)</h3>

<pre>$ cd ../feature1
$ hg pull http://127.0.0.1:8000

</pre>

<h3>Use shared repositories on BitBucket</h3>

<pre>$ (setup bitbucket repo)
$ hg push https://bitbucket.org/USER/REPO
(enter name and password in the prompt)
$ hg pull https://bitbucket.org/USER/REPO

</pre>


<p>Let's move on towards useful features and a bit more advanced workflows.</p>

<h2>Backing out bad revisions</h2>

<h3>Use Case</h3>

<p>When you routinely pull code from others, it can happen that you overlook some bad change. As soon as others pull that change from you, you have little chance to get completely rid of it.</p>

<p>To resolve that problem, Mercurial offers you the <hg>backout</hg> command. Backing out a change means, that you tell Mercurial to create a commit which reverses the bad change. That way you don't get rid of the bad code in history, but you can remove it from new revisions.</p>

<p>Note: The basic commands don't directly rewrite history. If you want to do that, you need to activate some of the extensions which are shipped with mercurial. We'll come to that later on.</p>

<h3>Workflow</h3>

<p>Let's assume the bad change was revision 3, and we already have one more revision in our repository. To remove the bad code, we just <hg>backout</hg> of it. This creates a new change which reverses the bad change. After backing out, we merge that new change into the current code.</p>

<pre>$ hg backout 3
$ hg merge
(potentially resolve conflicts)
$ hg commit 
(enter commit message. For example: "merged backout")

</pre>

<p>That's it. You reversed the bad change. It's still recorded that it was once there (following the principle "don't rewrite history, if it's not really necessary"), but it doesn't affect future code anymore.</p>

<h2>Collaborative feature development</h2>

<p>Now that you can share changes and reverse them if necessary, you can go one step further: Using Mercurial to help in coordinating the coding.</p>

<p>The first part is an easy way to develop features together, without requiring every developer to keep track of several feature clones.</p>

<h3>Use Case</h3>

<p>When you want to split your development into several features, you need to keep track of who works on which feature and where to get which changes.</p>

<p>Mercurial makes this easy for you by providing named branches. They are a part of the main repository, so they are available to everyone involved. At the same time, changes committed on a certain branch don't get mixed with the changes in the default branch, so features are kept separate, until they get merged into the default branch.</p>

<p>Note: Cloning a repository always puts you onto the default branch at first.</p>

<h3>Workflow</h3>

<p>When someone in your group wants to start coding on a feature without disturbing the others, he can create a named branch and commit there. When someone else wants to join in, he just updates to the branch and commits away. As soon as the feature is finished, someone merges the named branch into the default branch.</p>

<h5>Working in a named branch</h5>

<p>Create the branch</p>

<pre>$ hg branch feature1
(do some changes)
$ hg commit
(write commit message)

</pre>

<p>Update into the branch and work in it</p>

<pre>$ hg update feature1
(do some changes)
$ hg commit
(write commit message)

</pre>

<p>Now you can <hg>commit</hg>, <hg>pull</hg>, <hg>push</hg> and <hg>merge</hg> (and anything else) as if you were working in a separate repository. If the history of the named branch is linear and you call "hg merge", Mercurial asks you to specify an explicit revision, since the branch in which you work doesn't have anything to merge.</p>

<h5>Merge the named branch</h5>

<p>When you finished the feature, you <hg>merge</hg> the branch back into the default branch.</p>

<pre>$ hg update default
$ hg merge feature1
$ hg commit
(write commit message)

</pre>

<p>And that's it. Now you can easily keep features separate without unnecessary bookkeeping.</p>

<p>Note: Named branches stay in history as permanent record after you finished your work. If you don't like having that record in your history, please have a look at some of the advanced <a title="Mercurial Workflows" href="http://www.selenic.com/mercurial/wiki/Workflows">workflows</a>.</p>

<h2>Tagging revisions</h2>

<h3>Use Case</h3>

<p>Since you can now code separate features more easily, you might want to mark certain revisions as fit for consumption (or similar). For example you might want to mark releases, or just mark off revisions as reviewed.</p>

<p>For this Mercurial offers tags. Tags add a name to a revision and are part of the history. You can tag a change years after it was committed. The tag includes the information when it was added, and tags can be pulled, pushed and merged just like any other committed change.</p>

<p>Note: A tag must not contain the char ":", since that char is used for specifying multiple reivions - see "hg help revisions".</p>

<p>Note: To securely mark a revision, you can use the <a title="Using GnuPG to securely sign revisions in Mercurial" href="http://www.selenic.com/mercurial/wiki/GpgExtension">gpg extension</a> to sign the tag.</p>

<h3>Workflow</h3>

<p>Let's assume you want to give revision 3 the name "v0.1".</p>

<p>Add the tag</p>

<pre>$ hg tag -r 3 v0.1

</pre>

<p>See all tags</p>

<pre>$ hg tags

</pre>

<p>When you look at the log you'll now see a line in changeset 3 which marks the Tag. If someone wants to <hg>update</hg> to the tagged revision, he can just use the name of your tag</p>

<pre>$ hg update v0.1

</pre>

<p>Now he'll be at the tagged revision and can work from there.</p>


<h2>Removing history</h2> 

<h3>Use Case</h3>

<p>At times you will have changes in your repository, which you really don't want in it.</p>

<p>There are many advanced options for removing these, and most of them use great extensions (<a title="Mercurial Queues Extension" href="http://www.selenic.com/mercurial/wiki/MqExtension">Mercurial Queues</a> is the most often used one), but in this basic guide, we'll solve the problem with just the commands we already learned. But we'll use an option to clone which we didn't yet use.</p>

<p>This workflow becomes inconvenient when you need to remove changes, which are buried below many new changes. If you spot the bad changes early enough, you can get rid of them without too much effort, though.</p>

<h3>Workflow</h3>

<p>Let's assume you want to get rid of revision 2 and the highest revision is 3.</p>

<p>The first step is to use the "--rev" option to <hg>clone</hg>: Create a clone which only contains the changes up to the specified revision. Since you want to keep revision 1, you only clone up to that</p>

<pre>$ hg clone -r 1 project stripped

</pre>

<p>Now you can <hg>export</hg> the change 3 from the original repository (project) and <hg>import</hg> it into the stripped one</p>

<pre>$ cd project
$ hg export 3 > ../changes.diff
$ cd ../stripped
$ hg import ../changes.diff

</pre>

<p>If a part of the changes couldn't be applied, you'll see that part in *.rej files. If you have *.rej files, you'll have to include or discard changes by hand</p>

<pre>$ cat *.rej
(apply changes by hand)
$ hg commit
(write commit message)

</pre>

<p>That's it. <hg>hg export</hg> also includes the commit message, date, committer and similar metadata, so you are already done.</p>

<p>Note: removing history will change the revision IDs of revisions after the removed one, and if you pull from someone else who still has the revision you removed, you will pull the removed parts again. That's why rewriting history should most times only be done for changes which you didn't yet publicise.</p>

<h2>Summary</h2>

<p>So now you can work with Mercurial in private, and also share your changes in a multitude of ways.</p>

<p>Additionally you can remove bad changes, either by creating a change in the repository which reverses the original change, or by really rewriting history, so it looks like the change never occured.</p>

<p>And you can separate the work on features in a single repository by using named branches and add tags to revisions which are visible markers for others and can be used to update to the tagged revisions.</p>

<p>With this we can conclude our practical guide.</p>

<h1>More Complex Workflows</h1>

<p>If you now want to check some more complex workflows, please have a look at the general <a title="Mercurial Workflows" href="http://selenic.com/mercurial/wiki/Workflows">workflows wikipage</a>.</p>

<p>To deepen your understanding, you should also check the <a title="Overview of the basic concepts of Mercurial" href="quick_start_concepts">basic concept overview</a>.</p>

<p>Have fun with Mercurial!</p>



</div>
<div class="col">
                {% download_button %}
	            {% mercurial_tricks %}
		</div>
	</div>

</div>

{% endblock %}
