{% extends "base.html" %}

{% block content %}
		<h1>Who uses Mercurial</h1>
		<p><strong>Mercurial is a free, distributed source control management tool. It is currently used by many projects such as...</strong></p>
        <h3>Facebook</h3>
        The social networking service Facebook <a href="https://code.facebook.com/posts/218678814984400/scaling-mercurial-at-facebook/">chose Mercurial</a> in 2014 due to its extensibility and the ability to make it work at scale.</p>
        <p><a href="https://www.facebook.com">https://www.facebook.com</a></p>
        <h3>Mozilla</h3>
        Mozilla is an open source project that is currently developing the popular <a href="https://www.mozilla.org/firefox">Firefox</a> internet browser, the email client <a href="https://www.mozilla.org/thunderbird">Thunderbird</a> and the application suite SeaMonkey. Mozilla chose Mercurial in 2006.</p>
        <p><a href="https://www.mozilla.org">https://www.mozilla.org</a></p>
        <h3>Nginx</h3>
        The nginx web server is among one of the most popular and used over the world.
        <p><a href="http://nginx.org/">http://nginx.org/</a></p>
        <h3>and others...</h3>
        <p>Not just Mozilla and nginx use Mercurial. A lot of projects of various sizes have decided to use Mercurial for its efficiency and power. A longer list of projects which use Mercurial can be found <a href="https://www.mercurial-scm.org/wiki/ProjectsUsingMercurial">in the wiki</a>.</p>
{% endblock %}
{% block sidebar %}
 {{ super() }}
{% endblock %}
