<p><em>Mercurial is being used by all kinds of companies and projects. On this page we only list 8 picks. For a longer list, please visit <a href="http://mercurial.selenic.com/wiki/ProjectsUsingMercurial">the dedicated wiki-page</a>.</em></p>

<h3>Companies</h3>

<ul>
<li><a href="http://google.com">Google</a> for internal use and their <a href="http://code.google.org">free project hosting</a>.<br />
  <em>Mercurial offers an excellent "sweet spot" in terms of flexibility, simplicity, and speed.</em> - Alex Martelli, Google Tech Lead.</li>
<li>Mozilla for <a href="https://developer.mozilla.org/en/Mozilla_Source_Code_(Mercurial)">all kinds of projects</a>, including <a href="http://hg.mozilla.org/mozilla-central/">Firefox from 3.x onward</a>.</li>
<li>Sun for projects including <a href="">OpenJDK</a> and <a href="">Open Solaris</a>.</li>
<li> <a href="http://bitbucket.org">Bitbucket</a> to provide free project hosting.</li>
</ul>

<h3>Community Projects</h3>

<ul>
<li><a href="http://python.org">Python</a> for future development. <br />
  <em>It's hard to explain my reasons for choosing -- like most language decisions (especially the difficult ones) it's mostly a matter of gut feelings</em> - <a href="http://mail.python.org/pipermail/python-dev/2009-March/087931.html">Guido van Rossum</a>, Python BDFL</li>
<li>Xen for developing their <a href="">Paravirtualization System</a>.</li>
<li>MoinMoin for developing their <a href="">wiki engine</a>.</li>
<li>Adium, for writing their <a href="">MacOSX Chat client</a>.</li>
</ul>

<!--Missing: high profile windows software? -->

<!-- Wish: A quote for every project! -->

<!--Alternates: XEmacs (many experienced devs), SciPy (to better reach scientists), wmii/dwm (for WM nerds :), -->