{% extends "base.html" %}


{% block content %}
<h1>Sponsoring</h1>
<h3>Gold Sponsors ($20000 and above)</h3>

<!-- 20k pixels -->

<p>
	<a href="http://google.com">
		<img src="{{ url_for('static', filename='images/sponsors/google-small.png') }}" border=0
		alt="Google">
	</a>
</p>
<p>
	<a href="http://fogcreek.com">
		<img src="{{ url_for('static', filename='images/sponsors/fc-small.png') }}" border=0
		alt="Fog Creek">
	</a>
</p>
<p>
	<a href="http://www.microsoft.com">
		<img src="{{ url_for('static', filename='images/sponsors/ms-small.png') }}" border=0
		alt="Microsoft">
	</a>
</p>

<h3>Silver Sponsors ($5000 to $19999)</h3> 

<!-- 18k pixels --> 

<p>
	<a href="http://www.atlassian.com/">
    	<img src="{{ url_for('static', filename='images/sponsors/atlassian-small.png') }}" border=0
    	alt="Atlassian">
	</a>
</p> 
<p>
	<a href="http://www.janestcapital.com/">
    	<img src="{{ url_for('static', filename='images/sponsors/janest-small.png') }}" border=0
    	alt="Jane Street Capital">
	</a>
</p> 

<p>
	<a href="http://www.allstontrading.com/">
		<img src="{{ url_for('static', filename='images/sponsors/allston-small.png') }}" border=0
		alt="Allston Trading">
	</a>
</p> 
                   
<h3>Bronze Sponsors ($1000 to $4999)</h3>

<!-- 15k pixels -->

<p>
	<a href="http://euedge.com">
		<img src="{{ url_for('static', filename='images/sponsors/euedge-small.png') }}" border=0
		alt="EU Edge">
	</a>
</p>
<p>
	<a href="http://mozilla.org">
		<img src="{{ url_for('static', filename='images/sponsors/moz-small.png') }}" border=0
		alt="Mozilla Foundation">
	</a>
</p>
<p>
	<a href="http://symbian.org">
		<img src="{{ url_for('static', filename='images/sponsors/symbian-small.png') }}" border=0
		alt="Symbian Foundation">
	</a>
</p>
<p>
	<a href="http://python.org/psf">
		<img src="{{ url_for('static', filename='images/sponsors/python-small.png') }}"
		border=0 alt="Python Software Foundation">
	</a>
</p>
<p>
	<a href="http://www.jetbrains.com">
		<img src="{{ url_for('static', filename='images/sponsors/jetbrains-small.png') }}"
		border=0 alt="JetBrains">
	</a>
</p>
{% endblock %}

{% block sidebar %}
<h3>About</h3>
<p>
The Mercurial project is raising money for the project and to sponsor Matt Mackall, the primary
Mercurial author and project leader, to work full-time on Mercurial development.</p>
<p>The current status is tracked in <a href="/wiki/mpm" title="mpm in the Mercurial wiki">his wikipage</a>.</p>
<p>For information on sponsorship, contact Matt Mackall (mpm@selenic.com). For individual donations, see our <a href="http://www.selenic.com/mercurial/donations.html">donations page</a>.</p> 
{% endblock %}
