{% extends "base.html" %}

{% block main %}

<div class="row">
    <div class="col big">
        <h1>Work easier <br> Work faster</h1>
        <h2>Mercurial is a free, distributed source control management tool. It efficiently handles projects of any size and offers an easy and intuitive interface.</h2>
    </div>
    <div class="col">                   
        {# TODO: download button #}
    </div>
</div>

<div class="row">
    <div class="col big">
        <h3>How you can benefit from Mercurial</h3>
        <ol>
        <!-- The three sections should now grow more compact as you go down, with power and speed the longest and just works only two simple, clean sentences. -->
            <li class="i-1">
                <h4>It is <a href="/about/">fast and powerful</a></h4>
                <p>Mercurial offers you the power and speed to efficiently handle <a href="/who/">projects of any size and kind</a><!--Reference: http://www.selenic.com/mercurial/wiki/ProjectsUsingMercurial -->. Every clone contains the whole project history, so committing, branching, tagging and merging are local operations which makes them fast and convenient. You can use a multitude of <a href="http://www.selenic.com/mercurial/wiki/Workflows">workflows</a> and easily enhance its functionality with <a href="http://www.selenic.com/mercurial/wiki/UsingExtensions">extensions</a>.</p>
            </li>
            <li class="i-2">
                <h4>It is <a href="/learn/">easy to learn</a></h4> <!-- point to a site which begins with a random "easy to learn" testimonial and then shows ways to learn Mercurial, from quick start to indepth -->
                <p>You can follow our simple <a href="/guide/">guide</a> to learn how to revision your documents with Mercurial, or just use the <a href="/quickstart/">quick start</a> to get going instantly. <!--If you already know Subversion, please see <a href="mercurial_for_svn_users">Mercurial for svn users</a>.--></p>
            </li>
            <li class="i-3">
                <h4>And it just works</h4>
                <!--<p><em>Random quote about usability.</em></p>-->
                <p>Mercurial strives to deliver on each of its promises. Most tasks simply work on the first try and without requiring arcane knowledge. <!--(If one doesn't, that's most likely no feature but a <a href="http://selenic.com/mercurial/bugs/">bug</a>. Please <a href="http://selenic.com/mercurial/bugs/">tell us about it</a>!) 
                commented out because it feels awkward.--></p>
            </li>
        </ol>
    </div>
    <div class="col">
        <h3>Download</h3>
        {% for version in downloads %}
            <h4><strong>{{ version }}</strong></h4>
            <ul>
                {% for os in downloads[version] %}
                    <li>{{ os }}: {{ downloads[version][os] }}</li>
                {% endfor %}
            </ul>
            
        {% endfor %}
        
        <h3>Quick Start</h3>

        <p><em>Clone a project and create a patch</em>
<pre>$ hg clone http://hg-scm.org/hello
$ cd hello
$ (edit files)
$ hg add (new files)
$ hg commit -m 'My changes'
$ hg export tip &gt; patch.diff

</pre>
</p>

<p><em>Create a project and commit</em>
<pre>$ hg init (project-directory)
$ cd (project-directory)
$ (add some files)
$ hg add
$ hg commit -m 'Initial commit'
</pre>
</p>
    <!--Change into project dir before initiating repo to avoid a possible stumbling point.-->
    </div>
</div>

{% endblock %}
