<a class="download typeface-js" href="{{download_url}}">
			<strong>Download now</strong>
			Mercurial <em>{{ latest_version }}</em>
			<span>{{ download_system }}</span>
</a>
{% if extended %}
<dl>
    <dt class="typeface-js">Requirements</dt>
    <dd>Python 2.4 (<a href="http://www.python.org">get python</a>)</dd>
    <!--2.4 is necessary for TortoiseHG, Mercurial only needs 2.3-->

    <dt>Another OS?<br><em>Get mercurial for:</em></dt>
    <dd><a href="{% url download "latest" "macosx" %}">Mac OS X</a></dd>
    <dd><a href="{% url download "latest" "windows" %}">Windows</a></dd>
    <dd><a href="{% url downloads %}">other</a></dd>
</dl>
{% endif %}
